<div class="container-fluid main-content">
  <div class="jumbotron">
    <h1>TODO: Play+Angular!</h1>
    <p>This is the Play Framework + Angular TODO app with Postgres backend.  Sign In to continue</p>
  </div>
</div>
