<h2 class="todo-list-name">New List</h2>
<div class="clearfix"></div>

<div class="container-fluid">
  <form>
    <div ng-show="hasErrors" class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong>  Could not save due to errors.
    </div>
    <div ng-class="{ 'form-group': true, 'has-error': hasErrors }">
      <input type="text"  ng-model="name" id="name" placeholder="Name" class="form-control">
      <span class="help-block" ng-repeat="error in errors['obj.name']">{{error | playErrorMessage}}</span>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" ng-click="save()">Save</button>
      <a ui-sref="todoLists" class="btn btn-default">Cancel</a>
    </div>
  </form>
</div>
