
<div class="container-fluid main-content" style="padding-left:0">
  <div class="row">
    <div class="col-sm-2">
      <div class="todo-list-menu">
      <ul class="nav nav-stacked affix-top">
        <li ng-repeat="list in lists | orderBy:'name'" ui-sref-active="active">
          <a ui-sref="todoLists.detail({listId:list.id})">{{list.name}}</a>
        </li>
      </ul>
      <hr>
      <ul class="nav nav-stacked affix-top">
        <li ng-class="{ active: $state.includes('todoLists.new') }">
          <a ui-sref="todoLists.new"><span class="glyphicon glyphicon-plus"></span> Add New List</a>
        </li>
      </ul>
      </div>
    </div>
    <div class="col-sm-10" ui-view>
    </div>
  </div>
</div>
