<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My AngularJS App</title>
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.css"))">
  <link rel="stylesheet" href="@routes.Assets.at("css/app.css")">
  <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))"></script>
  <script>
    @Html(org.webjars.RequireJS.getSetupJavaScript(routes.WebJarAssets.at("").url))
  </script>
  <script data-main="@routes.Assets.at("js/app.js")" src="@routes.WebJarAssets.at(WebJarAssets.locate("require.js"))"></script>
</head>
<body ng-controller="ApplicationCtrl">
  <header class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a ui-sref="home" class="navbar-brand">Todo List Angular</a>
      </div>
      <nav class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ng-class="{active: $state.includes('todoLists')}">
            <a ui-sref="todoLists">My Lists</a>
          </li>
        </ul>
        <div class="navbar-form navbar-right" ng-show="currentUser">
          <a ng-click="logout()" class="btn btn-primary">Sign out</a>
        </div>
      </nav>
    </div>
  </header>

  <div id="content" ui-view></div>

  <div login-dialog></div>

  <div class="container-fluid" id="footer-container">
    <footer>
      <p>&copy; Nathan 2015</p>
    </footer>
  </div>

</body>
</html>